{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "rules": {
    "declaration-block-no-redundant-longhand-properties": null,
    "color-hex-length": null,
    "declaration-empty-line-before": null
  }
}
