.Footer {
  background-color: #00233f;
  display: flex;
  width: 100%;
}

.footerSpacer {
  background-color: #b2d3ee;
  display: block;
}

.footerContent {
  background-color: #4da2e7;
  
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
}