.Footer {
  background-color: #4da2e7;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.Footer > .leftNav {
  display: inherit;
  margin-left: 1rem;
}

.Footer > .leftNav > .imgWrapper {
  display: inherit;
}

.Footer > .leftNav > a > .imgWrapper > img {
  display: inherit;
  width: 6rem;
}

.Footer > .centerNav {
  display: inherit;
  font-size: calc(4px + 1vmin);
}

.Footer > .rightNav {
  display: flex;
  margin-right: .5rem;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}