.gallery-component {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 11rem;
  margin-bottom: 10rem;
  width: 100%;
}

.gallery-container {
  display: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--translucentBlackMask);
}

.pagination-container {
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  height: max-content;
}

ul.gallery-photos {
  display: flex;
  flex-wrap: wrap;
}
