.Gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 4rem;
  width: 100%;
  /* background-color: #ffee00; */
}

.galleryContainer {
  display: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /* margin: 1rem 0; */
  background-color: var(--translucentBlackMask);
}

.paginationContainer {
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  height: max-content;
}

ul.galleryPhotos {
  display: flex;
  flex-wrap: wrap;
}

/* .galleryPhotos {
  display: inherit;
  flex-direction: inherit;
  flex-wrap: wrap;
  align-items: inherit;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
} */
