.Gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  
  width: 100%;
  min-height: 60vh;
  background-color: #409b1d;
}

.galleryContainer {
  display: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px;
  background-color: #f8e91b;
}

.paginationContainer {
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  height:max-content;
}

.galleryPhotos {
  display: inherit;
  flex-direction: inherit;
  flex-wrap: wrap;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  height: 100%;
}