/* Color Palettes */

/* Pexels logo */
html {
  --pexelsColor: #07a081;
  --pexelsColor70: #08a182b3;
  --pexelsColor00: #08a18200;
}

/* https://visme.co/blog/website-color-schemes/#attachment_13239 */
html {
  --darkest: #05396b;
  --darker: #389583;
  --base: #5cdb94;
  --lighter: #8de4af;
  --lightest: #edf4e0;
}

html {
  --translucentBlackMask: rgba(0, 0, 0, 0.055);
}

html {
  --white: #ffffff;
  --yellow: #e4ef40;
  --blue: #00acd8;
}

html {
  --reactIcon: #61dafb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--lightest);
  text-decoration: none;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div {
  display: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* input field placeholder text color */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--darker);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--darker);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--darker);
}

/* scrollbar */
html {
  --scrollbarBG: var(--base);
  --thumbBG: var(--darker);
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 1px solid var(--scrollbarBG);
  visibility: visible;
}

.icon {
  display: inherit;
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  z-index: 2;
}

svg.icon > path {
  fill: var(--darker);
}

svg.icon.disabled > path {
  fill: var(--base);
}

.icon.enabled:hover {
  cursor: pointer;
}

svg.icon.enabled:hover > path {
  fill: var(--lightest);
}
