/* Color Palettes */
html {
  /* Pexels logo */
  --pexels-color: #07a081;
  --pexels-color70: #08a182b3;
  --pexels-color00: #08a18200;

  /* https://visme.co/blog/website-color-schemes/#attachment_13239 */
  --darkest: #05396b;
  --darker: #389583;
  --base: #5cdb94;
  --lighter: #8de4af;
  --lightest: #edf4e0;

  /* scrollbar */
  --scrollbar-background-color: var(--base);
  --scrollbar-thumb-color: var(--darker);

  /* darken photos on hover */
  --translucent-black-mask: rgba(0, 0, 0, 0.055);

  /* other colors */
  --white: #ffffff;
  --yellow: #e4ef40;
  --blue: #00acd8;
  --react-icon: #61dafb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--lightest);
  text-decoration: none;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div {
  display: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* input field placeholder text color */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--darker);
  opacity: 1; /* Firefox */
}

/* scrollbar */

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 6px;
  border: 1px solid var(--scrollbar-background-color);
  visibility: visible;
}

.icon {
  display: inherit;
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  z-index: 2;
}

svg.icon > path {
  fill: var(--darker);
}

svg.icon.disabled > path {
  fill: var(--base);
}

.icon.enabled:hover {
  cursor: pointer;
}

svg.icon.enabled:hover > path {
  fill: var(--lightest);
}
