.Navbar {
  background-color: #f8c271;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 2;
  font-size: calc(14px + 2vmin);
}

.Navbar > .navbarText {
  height: 100%;
  text-align: center;
  margin: .5em;
}
