.PaginationBar {
  background-color: #f8a527;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: calc(6px + 1vmin);
  margin-top: 10rem;
}

.PaginationBar > button {
  margin-left: 1rem;
  margin-right: 1rem;
}
