.PaginationBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: calc(5px + 1vmin);
  /* margin-top: 8rem; */
  color: var(--darker);
}

.PaginationBar > button {
  margin-left: 1rem;
  margin-right: 1rem;
}
