.personal-links-component {
  display: inherit;
  width: 100%;
  flex-direction: row;
}

.personal-links-component > ul {
  display: inherit;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.personal-links-component > ul > li {
  display: inline-block;
  font-size: calc(10px + 1vmin);
  list-style: none;
}

.personal-links-component > ul > li > a {
  display: inherit;
}
