.PersonalLinks {
  /* background-color: #f827d5; */
  display: inherit;
  flex-direction: row;
  width: 100%;
}

.PersonalLinks > ul {
  display: inherit;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.PersonalLinks > ul > li {
  display: inline-block;
  font-size: calc(10px + 1vmin);
  list-style: none;
}

.PersonalLinks > ul > li > a {
  display: inherit;
}
