li.photo-component {
  height: 35vh;
  flex-grow: 1;
}

li.photo-component:last-child {
  flex-grow: 10;
}

li.photo-component > a {
  height: 100%;
  width: 100%;
  display: inherit;
}

li.photo-component > a > img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  display: inherit;
  transition: all 0.2s;
}

div.photo-credit {
  font-size: calc(4px + 1vmin);
  color: var(--lightest);
  margin-top: -3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 1;
  visibility: hidden;
}

.photo-component:hover {
  filter: contrast(80%);
}

.photo-component:hover div.photo-credit {
  visibility: visible;
}

.photographer-url:hover {
  color: var(--yellow);
}
