li.Photo {
  height: 35vh;
  flex-grow: 1;
}

li.Photo:last-child {
  flex-grow: 10;
}

li.Photo > a {
  height: 100%;
  width: 100%;
  display: inherit;
}

li.Photo > a > img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  display: inherit;

  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

div.photoCredit {
  font-size: calc(4px + 1vmin);
  color: var(--lightest);
  margin-top: -3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 1;
  visibility: hidden;
}

.Photo:hover {
  filter: contrast(80%);
  -webkit-filter: contrast(80%);
  -moz-filter: constrast(80%);
  /* transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);   */
}

.Photo:hover div.photoCredit {
  visibility: visible;
}

.photographerUrl:hover {
  color: var(--yellow);
}
