.Results {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: calc(5px + 1vmin);
  height: 2rem;
  position: absolute;
  top: 0;
  margin-top: 6.5rem;
  color: var(--darker);
}
