.SearchForm {
  background-color: #51f827;
  width: 100%;
  font-size: calc(10px + 1vmin);
  margin-top: 5rem;
}

.SearchForm > form#search-for-photos {
  width: 75vw;
}

.SearchForm > form#search-for-photos > input {
  width: 50vw;
  text-align: center;
}

.SearchForm > button {
  margin: .5em;
}
