.SearchForm {
  width: 100%;
  max-width: 70vw;
  font-size: calc(5px + 1vmin);
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  height: 3rem;
  border-color: var(--darker);
  border-width: 0.2rem;
}

form#search-for-photos {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}

form#search-for-photos > input {
  height: 2rem;
  width: 100%;
  text-align: center;
  position: relative;
  margin-left: 0.5rem;
  font-size: inherit;
}
