.splash-grid-component {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 20rem;
  background-color: inherit;
}

.matrix-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.matrix-layout > .row {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.matrix-layout > .row > .col {
  width: 100%;
}
