.results-component {
  display: flex;
  width: 100%;
  height: 2rem;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: var(--darker);
  font-size: calc(5px + 1vmin);
}
