.pagination-bar-component {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  color: var(--darker);
  font-size: calc(5px + 1vmin);
}

.pagination-bar-component > button {
  margin-right: 1rem;
  margin-left: 1rem;
}
